.btn-primary-cancel {
    background-color: gray;
}

.form-control-1 {
    width: 200px;
}

.mb-3 {
    display: initial;
}

.div-2 {
    display: flex;
}

.div-3 {
    display: flex;
}

.div-4 {
    display: flex;
}

.div-5 {
    display: flex;
}